<!-- app/views/destinations/index.html.erb -->

<h1>Find Your Next Destination</h1>

<%= form_with(url: destinations_path, method: "get") do |form| %>
  <%= form.label :destination_id, 'Choose a destination:' %>
  <%= form.select :destination_id, Destination.all.map { |d| [d.name, d.id] }, include_blank: true %>
  <%= form.submit "Search" %>
<% end %>

<hr>

<% if @destinations.present? %>
  <ul>
    <% @destinations.each do |destination| %>
      <li>
        <%= link_to destination.name, destination_path(destination), class: "destination-link" %>: <%= destination.description %><br>
        <% if destination.user.present? %>
          Added by: <%= destination.user.email %> on <%= destination.created_at.strftime("%B %d, %Y at %H:%M") %>
          <p>Current Rating: <%= destination.rating %></p>
        <% else %>
          Creator unknown
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Please select a destination to view its details.</p>
<% end %>

<%= link_to 'Add New Destination', new_destination_path %>
