<!-- app/views/destinations/index.html.erb -->

<h1>Where do you want to go?</h1>

<%= form_with(url: destinations_path, method: "get") do |form| %>
  <%= form.label :country, 'Choose a country:' %>
  <%= form.select :country, Destination.pluck(:name).uniq, include_blank: true %>
  <%= form.submit "Search" %>
<% end %>

<h2>Destinations:</h2>
<ul>
  <% @destinations.each do |destination| %>
    <li>
      <strong><%= destination.name %></strong>: <%= destination.description %>
    </li>
  <% end %>
</ul>

    
